:root {
  --font-stack: "Outfit", sans-serif;

  --blue-100: hsl(215, 51%, 70%);
  --blue-200: hsl(215, 32%, 27%);
  --blue-300: hsl(216, 50%, 16%);
  --blue-400: hsl(217, 54%, 11%);
  --white: hsl(0, 0%, 100%);
  --cyan-300: hsl(178, 100%, 50%);
  --cyan-300-faded: hsla(178, 100%, 50%, 0.5);

  --radius-sm: 8px;
  --radius-md: 15px;
  --radius-rounded: 50%;

  --shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--blue-400);
  min-height: 100vh;
  font-family: var(--font-stack);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover,
a:focus {
  color: var(--cyan-300);
}

.card {
  background-color: var(--blue-300);
  color: var(--blue-100);
  max-width: 21.8375rem;
  padding: 1.5rem;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);
  font-size: 15px;
  line-height: 19px;
  margin: 1.5rem;
}

.card__image-container {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.card__image {
  max-width: 100%;
  border-radius: var(--radius-sm);
}

.card__image {
  max-width: 100%;
}

.card__image--overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: var(--cyan-300-faded);
  border-radius: var(--radius-sm);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card__image--overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.card__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.2727;
  color: var(--white);
  margin-bottom: 0.75rem;
  display: inline-block;
}

.card__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 1rem;
}

.card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card__price {
  color: var(--cyan-300);
  display: flex;
  align-items: center;
}

.card__price-icon,
.card__countdown-icon {
  margin-right: 0.5rem;
}

.card__countdown {
  display: flex;
  align-items: center;
}

.card__footer {
  border-top: 1px solid var(--blue-200);
  display: flex;
  align-items: center;
  padding-top: 1rem;
  font-weight: 400;
}

.card__footer--link {
  margin-left: 0.3125;
}

.card__author-avatar {
  border-radius: var(--radius-rounded);
  border: 1px solid var(--white);
  max-height: 2.0625rem;
  margin-right: 1rem;
}
