:root {
  --main-bg-color: #f7f7ff;
  --linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);

  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --light-purple: hsl(236, 72%, 79%);
  --dark-purple: hsl(237, 63%, 64%);
  --light-gray: #dddddd;

  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  color: var(--grayish-blue);
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::before,
body::after {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

body::before {
  background: url(../images/bg-top.svg) no-repeat;
  background-position: 100% 0%;
  top: 0;
  right: 0px;
  z-index: -1000;
}

h1 {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 42px;
}

.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.switch .switch-body {
  background: linear-gradient(to right, var(--linear-gradient));
  width: 54px;
  border-radius: 50px;
  position: relative;
  color: #b5b4c1;
  font-size: 0.9rem;
}

.toggle {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  margin: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.switch.active .switch-body .toggle {
  transform: translatex(100%);
}

.switch input[type="checkbox"],
.switch label {
  display: none;
}

.switch-body::before {
  content: "Annually";
  left: -100px;
  position: absolute;
  transform: translateY(50%);
}

.switch-body::after {
  content: "Monthly";
  top: 0;
  right: -100px;
  position: absolute;
  transform: translateY(50%);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 80px;
  width: 100vw;
  align-items: center;
}

.product-card {
  background-color: var(--white);
  padding: 36px;
  margin: 18px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgba(141, 145, 234, 0.2),
    0 10px 10px -5px rgba(141, 145, 234, 0.06);
}

.product-card:nth-child(even) {
  background: linear-gradient(var(--linear-gradient));
  color: var(--very-light-grayish-blue);
}

.product-card:nth-child(even) .product__name,
.product-card:nth-child(even) .price {
  color: var(--very-light-grayish-blue);
}

.product-card:nth-child(even) .product__link {
  background: var(--white);
  color: var(--dark-purple);
}

.product-card:nth-child(even) .features__item {
  border-top: 1px solid var(--light-purple);
}

.product-card:nth-child(even) .features__item:last-of-type {
  border-bottom: 1px solid var(--light-purple);
}

.product-card:nth-child(even) .product__link:hover,
.product-card:nth-child(even) .product__link:focus {
  background: none;
  color: var(--white);
  border: 1px solid var(--white);
}

.product__name {
  font-size: 1rem;
  color: var(--grayish-blue);
}

.price {
  color: var(--dark-grayish-blue);
  font-size: 4rem;
  margin-bottom: 32px;
  margin-top: 24px;
}

.features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.features__item {
  text-align: center;
  padding: 16px 0;
  font-size: 0.9rem;
  border-top: 1px solid var(--light-gray);
}

.features__item:last-of-type {
  border-bottom: 1px solid var(--light-gray);
}

.product__link {
  background: linear-gradient(to right, var(--linear-gradient));
  color: var(--very-light-grayish-blue);
  width: 100%;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px;
  margin-top: 32px;
  transition-property: background, background-color, color;
  transition: 0.2s ease-in-out;
}

.product__link:hover,
.product__link:focus {
  background: var(--white);
  border: 1px solid var(--dark-purple);
  color: var(--dark-purple);
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
  padding: 16px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  .product-list {
    flex-direction: row;
    justify-content: center;
  }

  .product-card {
    width: 350px;
    margin: 0;
  }

  .product-card:nth-child(1) {
    border-radius: 8px 0 0 8px;
  }

  .product-card:nth-child(even) {
    z-index: 2;
    height: 500px;
  }

  .product-card:nth-child(3) {
    border-radius: 0 8px 8px 0;
  }

  body::after {
    background: url(../images/bg-bottom.svg) no-repeat;
    background-position: 0% 100%;
    bottom: 0;
    left: 0px;
    z-index: -1000;
  }
}

@media screen and (max-width: 340px) {
  .product-card {
    width: 85%;
  }

  .price {
    font-size: 3rem;
  }

  .attribution {
    margin-top: 50px;
  }
}
